<html>

<head>
    <title>Student Form</title>
    <link rel="stylesheet" href="./css/studentform.css">
    <link rel="stylesheet" href="./css/docs.css">
    <link rel="stylesheet" href="./css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="./js/formvalidation.js"></script>

</head>

<body>
    <header>
        <div class="header">
        <div class="collagelogo">
            <img src="http://recsonbhadra.ac.in/static/media/Collegelogo.96cbe2da1f0150aefe6d.png" alt="logo" class="logo">
        </div>
        <div class="college-name middle">
            <h3>Rajkiya Engineering College, Sonbhadra</h3>
            <h5>An AICTE approved Government Engineering College affliated to AKTU Lucknow(College code-841)</h5>
        </div>
        <div class="student-name">
            <img class="icon" src="./assets/studenticon1.png" alternative=""/>
            <input class="input student-name" type="text" id="student_name" name="name" value="<%= dataToBePassedToForm.name %>" />
        </div>
    </div>
    </header>
<div class="grid-container">
    
    <div class="side-bar">
        <ul class="sideMenu-list">
            <h2 class="sideMenu-heading text-center">My Dashboard</h2>
            <li class="sideMenu-list-item" id="latest_updates">
                <a class=" sideMenu-active" href="/dashboard">
                    <span>-</span>
                    Latest Updates
                </a>
            </li>

            <li class="sideMenu-list-item " id="registration_status">
                <a class="sideMenu-active" href="/studentform">
                    <span>-</span>
                    Registration Form
                </a>
            </li>

            <li class="sideMenu-list-item " id="registration_status">
                <a class="sideMenu-active" href="/status">
                    <span>-</span>
                    Registration Status
                </a>
            </li>

            
            <li class="sideMenu-list-item " id="Submitted_documents">
                <a class=" sideMenu-active" href="/docs">
                    <span>-</span>
                    Submitted Documents
                </a>
            </li>
            <li class="sideMenu-list-item " id="pending_payments">
                <a class=" sideMenu-active" href="/dues">
                    <span>-</span>
                    Pending Payments
                </a>
            </li>
            <li class="sideMenu-list-item " id="latest_updates">
                <a class=" " href="/logout">
                    <button class="log-out-btn">Log Out</button>
                </a>
            </li>

        </ul>
    </div>


    <div class="container">
        <div class="dashboard">
            <div class="form-container personal-information">
                <form class="personal-information-form" method="POST" enctype="multipart/form-data" >
                    <div role="main" class="form-all">
                        <div class="form-header">
                            <h1  data-component="header">Registration Form</h1>
                            <h6 >Fill out the form carefully for registration</h6>
                        </div>
        
                        <h2 class="subform-header" data-component="header">Personal Details:</h2>
        
                        <div class="form-details">
        
                            <div class="input-control">
                                <label class="asterick" for="name">Name of Student</label>
                                <input type="text" id="name" name="name" placeholder="name" autocomplete="off" size="15" value="<%= dataToBePassedToForm.name%>" />
                            </div>
                            
        
                            <div class="input-control">
                                <label class="asterick"for="Date">Date of Birth</label>
                                <input type="date" id="dob" name="dob" autocomplete="off"  
                                value="<%= dataToBePassedToForm.dob %>"/>
                                <div class="error"></div>
                            </div>
        
                            <div class="input-control">
                                <label class="asterick"for="image"> Student's Photo</label>
                                <div id="display_image"
                                    style="width:120px; height:130px; border:1px solid gray;background-size: cover;text-align:center;"
                                    value="" placeholder="passport size photo" aria-label="upload photo"></div>
                                <input type="file" id="image-input" style="margin-top:10px;"
                                    accept="image/png,image/jpg, image/jpeg " name="photo_file" />
                                <div class="error"></div>
                            </div>                    
        
                            <div class="input-control">
                                <label class="asterick"for="gender">Gender</label>
                                <select name="gender" id="gender" autocomplete="off" 
                                value="<%= dataToBePassedToForm.gender %>" >
                                    <option value="">Please Select</option>
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="N/A">N/A</option>
                                </select>
                            </div>
        
                            
                            <div class="input-control">
                                <label class="asterick"for="email">Student's E-mail</label>
                                <input type="email" id="email" name="email" autocomplete="off" value="<%= dataToBePassedToForm.email %>" />
                                <div class="error"></div>
                            </div>
                            
        
                            <div class="input-control">
                                <label class="asterick"for="number">Mobile Number</label>
                                <input type="number" id="phoneNumber" name="phone_number" placeholder="phone no." autocomplete="off" size="10" 
                                value= "<%= dataToBePassedToForm.Phone_number %>" />
                                <div class="error"></div>
                            </div>
                            
        
                            <div class="input-control">
                                <label class="asterick"for="number">Student's Aadhar Number</label>
                                <input type="number" id="aadhar" name="aadhar_number" autocomplete="off" value="<%= dataToBePassedToForm.aadhar_number %>" />
                                <div class="error"></div>
                            </div>
                            
        
                            <div class="input-control">
                                <label class="asterick"for="number">Enrollment Number</label>
                                <input type="number" id="enrollment" name="enrollment_number" autocomplete="off" value= "<%= dataToBePassedToForm.JEERoll %>"/>    
                            </div>
                            
        
                            <div class="input-control">
                                <label class="asterick"for="course">Course</label>
                                <select name="course" id="course" autocomplete="off"> 
                                    <option value="">Please Select</option>
                                    <option value="b.tech">B.tech</option>
                                </select>
                            </div>
                            
        
                            <div class="input-control">
                                <label class="asterick"for="branch">Branch</label>
                                <input type ="text" name="branch" id="branch" autocomplete="off"  
                                value= "<%= dataToBePassedToForm.branch %>" />
                                   
                            </div>
                            
        
                            <div class="input-control">
                                <label class="asterick"for="year">Year</label>
                                <input type="text" name="year" id="year" autocomplete="off"
                                 value= "<%= dataToBePassedToForm.year %>" />
                            </div>
                            
        
                            <div class="input-control">
                                <label class="asterick"for="semester">Semester</label>
                                <select name="semester" id="semester" autocomplete="off">
                                    <option value="">Please Select Carefully</option>
                                    <option value="1st">i</option>
                                    <option value="2nd">ii</option>
                                    <option value="3rd">iii</option>
                                    <option value="4th">iv</option>
                                    <option value="4th">v</option>
                                    <option value="4th">vi</option>
                                    <option value="4th">vii</option>
                                    <option value="4th">viii</option>
                                </select>
                            </div>
                            
        
                            <div class="input-control">
                                <label class="asterick"for="name">Father's Name</label>
                                <input type="text" id="name" name="name" autocomplete="off" minlength="3" value="<%= dataToBePassedToForm.father_name %>"/>
                            </div>
                            
        
                            <div class="input-control">
                                <label class="asterick"for="name">Mother's Name</label>
                                <input type="text" id="name" name="name" autocomplete="off" minlength="3" value="<%= dataToBePassedToForm.mother_name %>" />
                            </div>
                            
        
                            <div class="input-control">
                                <label class="asterick"for="number">Parent's Phone Number</label>
                                <input type="number" id="parentPhnNo" name="mobile_number" placeholder="phone no."
                                    autocomplete="off" maxlength="10" size="10" />
                                <div class="error"></div>
                            </div>
                            
        
                            <div class="input-control">
                                <label for="email">Parent's E-mail</label>
                                <input type="email" id="Parentemail" name="email" autocomplete="off" />
                                <div class="error"></div>
                            </div>
                            
        
                            <div class="input-control">
                                <label for="number">Alternate Phone Number</label>
        
                                <input type="number" id="number" name="mobile_number" placeholder="phone no." size="10" />
                                <div class="error"></div>
                            </div>
                            
        
                            <div class="input-control">
                                <label class="asterick"for="category">Category</label>
                                <select name="category" id="category" autocomplete="off">
                                    <option value="">Please Select Carefully</option>
                                    <option value="General">General</option>
                                    <option value="General-EWS">General-EWS</option>
                                    <option value="Other Backward Class (creamy layer)">Other Backward Class (creamy layer)</option>
                                    <option value="Other Backward Class (OBC- NCL)">Other Backward Class (OBC- NCL)</option>
                                    <option value="Scheduled Cast (SC)">Scheduled Cast (SC)</option>
                                    <option value="Scheduled Tribe(ST)">Scheduled Tribe(ST)</option>
                                    <option value="Pwd">Pwd</option>
                                </select>
                                <div class="error"></div>
                            </div>
                            
        
                            <div class="input-control">
                                <label class="asterick"for="category">Category Certificate</label>
                                <input id="category-certificate" type="file" name="category_file" accept="pdf/*" />
                                <div class="error"></div>
                            </div>
                            
        
                            <div class="input-control">
                                <label class="asterick"for="income">Annual Income</label>
                                <select name="income" id="income" autocomplete="off">
                                    <option value="">Please Select Carefully</option>
                                    <option value="Below two Lakhs">Below two Lakhs</option>
                                    <option value="Between Two to Eight Lakhs">Between Two to Eight Lakhs</option>
                                    <option value="Above Eight Lakhs">Above Eight Lakhs</option>
                                </select>
                            </div>
                            
        
                            <div class="input-control">
                                <label class="asterick"for="income">Income Certificate</label>
                                <input id="income-certificate" type="file" name="income_file" accept="pdf/*" />
                                <div class="error"></div>
                            </div>
                            
                            
                            <div class="input-control">
                                <label for="name">Local Gaurdian's Name (If Any)</label>
                                <input type="text" id="name" name="name" />
                            </div>
                            
                            <div class="input-control">
                                <label for="gardian_phoneNo">Gaurdian's Phone Number</label>
                                <input type="number" id="GaurdianNumber" name="mobile_number" placeholder="phone no." size="10" />
                                <div class="error"></div>
                            </div>

                            <div class="input-control">
                                <label class="asterick"for="image"> Student's Signature</label>
                                <div id="display_sign"
                                    style="width:250px; height:70px; border:1px solid gray;background-size: cover;text-align:center;"
                                    value="" placeholder="passport size photo" aria-label="upload photo"></div>
                                <input type="file" id="sign-input" style="margin-top:10px;"
                                    accept="image/png,image/jpg, image/jpeg " name="signature_file">
                                <div class="error"></div>
                            </div>
        

                            <div class="input-control">
                                <label class="asterick" for="address">Permanent Address</label>
                                <input type="text" class="form-control" id="street-1" placeholder="Street Address_1" /></br>
                                <input type="text" class="form-control" id="street-2" placeholder="Street Address_2" /></br>
                                <input type="text" class="form-control" id="inputCity" placeholder="City" /></br>
                                <input type="text" class="form-control" id="inputState" placeholder="State/Province" /></br>
                                <input type="number" class="form-control" type="number" id="inputZip" placeholder="Pincode" size="6" /></br>
                                <input type="text" class="form-control" id="inputCountry" placeholder="Country" />
                                <div class="error"></div>
                            </div>
                            
        
                            <div class="input-control">
                                <input class="checkbox" type="checkbox" id="copy-address">
                                <label class="same-as-permanent" for="copy-address">Same As Permanent Address</label>
                                <label class="asterick"for="address">Correspondance Address</label>
                                <input type="text" class="form-control" id="Cstreet-1" placeholder="Street Address_1" /></br>
                                <input type="text" class="form-control" id="Cstreet-2" placeholder="Street Address_2" /></br>
                                <input type="text" class="form-control" id="CinputCity" placeholder="City" /></br>
                                <input type="text" class="form-control" id="CinputState" placeholder="State/Province" /></br>
                                <input type="number" class="form-control" id="CinputZip" placeholder="Pincode" size="6" /></br>
                                <input type="text" class="form-control" id="CinputCountry" placeholder="Country" />
                                <div class="error"></div>
                            </div>
        
        
                            
                            <div class="input-control">
                                <label for="address">Gaurdian's Address</label>
                                <input type="text" class="form-control" id="autocomplete" placeholder="Street Address_1" /></br>
                                <input type="text" class="form-control" id="autocomplete" placeholder="Street Address_2" /></br>
                                <input type="text" class="form-control" id="inputCity" placeholder="City" /></br>
                                <input type="text" class="form-control" id="inputState" placeholder="State/Province" /></br>
                                <input type="number" class="form-control" id="GinputZip" placeholder="Pincode" size="6" /></br>
                                <input type="text" class="form-control" id="inputCountry" placeholder="Country" />
                            </div>
                            
                
                        </div>
                        <div class="form-button">
                            <button class="btn" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        
            <!--Educational Details-->
        
            <div class="form-container educational-details hidden">
                <form class="educational-details-form" action="/submit-form" method="POST" enctype="multipart/form-data">
                    <div role="main" class="form-all">
                        <div class="form-header">
                            <h1 data-component="header">Registration Form</h1>
                            <h6>Fill out the form carefully for registration</h6>
                        </div>
        
                        <h2 class="subform-header" data-component="header">Educational Details:</h2>
        
                            <h4>High School Details:</h4>
        
                            <div class="form-details">
        
                                <div class="input-control">
                                    <label class="asterick"for="institute_name">Institute Name</label>
                                    <input type="text" id="highSchool" name="highSchool" />
                                    <div class="error"></div>
                                </div>
                                
                                <div class="input-control">
                                    <label class="asterick"for="board">Board</label>
                                    <input type="text" id="highSchool-board" name="highSchool" />
                                    <div class="error"></div>
                                </div>
                                
                                <div class="input-control">
                                    <label class="asterick"for ="highschoolmax-marks">Maximum Marks </label>
                                    <input type="number"
                                    id="highschool-maxmarks" name ="highschool-maxmarks">
                                    <div class="error"></div>
                                </div>
        
                                <div class="input-control">
                                    <label class="asterick"for="marks">Marks Obtained</label>
                                    <input type="number" id="highSchool-marks" name="marks_obtained" />
                                    <div class="error"></div>
                                </div>
                                
        
                                <div class="input-control">
                                    <label class="asterick"for="year">Passing Year</label>
                                    <input type="number" id="highschool-year" name="year" />
                                    <div class="error"></div>
                                </div>
                                
        
        
                                <div class="input-control">
                                    <label class="asterick"for="marksheet">Upload Marksheet</label>
                                    <input id="highSchool-marksheet" type="file" name="highschool_marksheet" accept="pdf/*" />
                                    <div class="error"></div>
                                </div>
        
                            </div>
                            <h4>Intermediate Details:</h4>
        
                            <div class="form-details">
        
                                <div class="input-control">
                                    <label class="asterick"for="institute_name">Institute Name</label>
                                    <input type="text" id="intermediate" name="intermediate" />
                                    <div class="error"></div>
                                </div>
        
                                <div class="input-control">
                                    <label class="asterick"for="board">Board</label>
                                    <input type="text" id="intermediate-board" name="intermediate" />
                                    <div class="error"></div>
                                </div>
                                
        
                                <div class="input-control">
                                    <label class="asterick"for ="intermax-marks">Maximum Marks
                                    </label>
                                    <input type="number"
                                    id="inter-maxmarks" name ="inter-maxmarks">
                                    <div class="error"></div>
                                </div>
        
                                <div class="input-control">
                                    <label class="asterick"for="marks">Marks Obtained</label>
                                    <input type="number" id="inter-marks" name="marks_obtained" />
                                    <div class="error"></div>
                                </div>
                                
        
                                <div class="input-control">
                                    <label class="asterick"for="year">Passing Year</label>
                                    <input type="number" id="inter-year" name="year" />
                                    <div class="error"></div>
                                </div>
                                
        
                                <div class="input-control">
                                    <label class="asterick"for="marksheet">Upload Marksheet</label>
        
                                    <input id="inter-marksheet" type="file" name="inter_marksheet" accept="pdf/*" />
                                    <div class="error"></div>
                                </div>
                                
        
                            </div>
        
                            <h4>JEE Details:</h4>
        
                            <div class="form-details">
        
                                <div class="input-control">
                                    <label class="asterick"for="rank">General Rank</label>
                                    <input type="number" id="rank" name="rank" />
                                    <div class="error"></div>
                                </div>
                                
        
                                <div class="input-control">
                                    <label class="asterick"for="percentile">JEE Percentile</label>
                                    <input type="number" id="percentile" name="percentile" />
                                    <div class="error"></div>
                                </div>
        
        
                                <div class="input-control">
                                    <label class="asterick"for="enrollment_letter">Enrollment Letter</label>
                                    <input id="enrollment-letter" type="file" name="enrollment_letter" accept="pdf/*" t/>
                                    <div class="error"></div>
                                </div>
                            </div>
                        <div class="form-button">
                            <button class="prev-btn" id="e-prev-btn" type="submit">Prev</button>
                            <button class="btn" type="submit">Save</button>
                        </div>
        
                    </div>
                </form>
            </div>
        
            <!--Hostel Details-->
        
            <div class="form-container hostel-details hidden">
                <form class="hostel-details-form" action="/submit-form" method="POST" >
                    <div role="main" class="form-all">
                        <div class="form-header">
                            <h1 data-component="header">Registration Form</h1>
                            <h6>Fill out the form carefully for registration</h6>
                        </div>
        
                        <h2 class="subform-header" data-component="header">Hostel Details:</h2></br>
                        
                            <label class="asterick"for="hosteller">Are You Hosteller?</label>

                            <div class="form-details">
                            <select class="hostel-select" name="hosteller" id="hosteller">
                                <option value="">Please Select</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                            </div>
                            <ul class="complete-form" style="display: none">
                                </br>
                                <h4>Hostel Allotment Form</h4></br></br>
                                <label class="asterick"for="hostel">Opting For Hostel:</label></br>
                            
                                <div class="form-details">
                                    <select class="hostel hostel-select">
                                        <option value="">Please Select</option>
                                        <option value="BH1">Boys' Hostel 1</option>
                                        <option value="BH2">Boys' Hostel 2</option>
                                        <option value="BH3">Boys' Hostel 3</option>
                                        <option value="GH">Girls' Hostel </option>
                                    </select>
                                </div>
                                <div class="form-details">
                                    <label class="asterick"for="room">Room Number:</label>
                                    <select class="floor hostel-select">
                                        <option value="">Please Select</option>
                                        <option value="G"> G </option>
                                        <option value="F"> F </option>
                                        <option value="S"> S </option>
                                    </select>
                                    <select class="room-no hostel-select">
                                        <option value="">Please Select</option>
                                        <option value="1"> 1 </option>
                                        <option value="2"> 2 </option>
                                        <option value="3"> 3 </option>
                                        <option value="4"> 4 </option>
                                        <option value="5"> 5 </option>
                                        <option value="6"> 6 </option>
                                        <option value="7"> 7 </option>
                                        <option value="8"> 8 </option>
                                        <option value="9"> 9 </option>
                                        <option value="10"> 10 </option>
                                        <option value="11"> 11 </option>
                                        <option value="12"> 12 </option>
                                        <option value="13"> 13 </option>
                                        <option value="14"> 14 </option>
                                        <option value="15"> 15 </option>
                                        <option value="16"> 16 </option>
                                        <option value="17"> 17 </option>
                                        <option value="18"> 18 </option>
                                        <option value="19"> 19 </option>
                                        <option value="20"> 20 </option>
                                        <option value="21"> 21 </option>
                                        <option value="22"> 22 </option>
                                        <option value="23"> 23 </option>
                                        <option value="24"> 24 </option>
                                        <option value="25"> 25 </option>
                                        <option value="26"> 26 </option>
                                        <option value="27"> 27 </option>
                                        <option value="28"> 28 </option>
                                    </select>
                                
                                </div>
                            </ul>
                        <div class="form-button">
                            <button class="prev-btn" id="h-prev-btn" type="submit">Prev</button>
                            <button class="btn" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        
            <!--Pay Now form-->
        
            <div class="form-container payment hidden">
                <form class="payment-form" action="/submit-form" method="post">
                    <div role="main" class="form-all">
                        <div class="form-header">
                            <h1 data-component="header">Registration Form</h1>
                            <h6 >Fill out the form carefully for registration</h6>
                        </div>
        
                        <h2 class="subform-header" data-component="header">Payment Form:</h2>
        
                            <div class="form-details">
        
                                <label class="asterick"for="fee_pay">Pay Fees</label>
                                <select class="fee-type" name="fee-type" id="fee-type">
                                    <option value="">Please Select</option>
                                    <option value="yes">Paying Full Fee</option>
                                    <option value="no">Paying In Installment</option>
                                </select>
        
                                <div class="input-group">
                                    <div class="input-box">
                                        <button class="GFG" onclick="window.location.href = 'https://formbuilder.ccavenue.com/live/rec-sonbhadra';">PAY NOW</button>
                                    </div>
                                </div>
                                
                            </div>
                        <div class="form-button">
                            <button class="prev-btn" id="p-prev-btn" type="submit">Prev</button>
                            <button class="btn" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        
        
        
            <!--Fee Details form-->
        
            <div class="form-container fee-details hidden">
                <form class="fee-details-form" action="/submit-form" method="post" enctype="multipart/form-data">
                    <div role="main" class="form-all">
                        <div class="form-header">
                            <h1 data-component="header">Registration Form</h1>
                            <h6>Fill out the form carefully for registration</h6>
                        </div>
        
                        <h2 class="subform-header" data-component="header">Fee Details:</h2>
        
                            <h4>Institute Fee:</h4>
                            <div class="form-details">
        
                                <div class="input-control">
                                    <label class="asterick"for="amount">Total Amount Paid</label>
                                    <input type="number" id="academicfee-amount" name="academicfee_amount" />
                                    <div class="error"></div>
                                </div>
                        
        
                                <div class="input-control">
                                    <label class="asterick"for="fee_receipt">Fee Receipt</label>
                                    <input id="acedemicfee" type="file" name="academicfee_receipt" accept="pdf/*" />
                                    <div class="error"></div>
                                </div>
                            </div>
                        
                            <h4>Hostel Fee:</h4>
                            <div class="form-details">
        
                                <div class="input-control">
                                    <label class="asterick"for="amount">Total Amount Paid</label>
                                    <input type="number" id="hostel-amount" name="hostel_receipt"/>
                                    <div class="error"></div>
                                </div>
                            
        
                                <div class="input-control">
                                    <label class="asterick"for="fee_receipt">Fee Receipt</label>
                                    <input id="hostel-fee" type="file" name="hostelfee_receipt" accept="pdf/*" />
                                    <div class="error"></div>
                                </div>
                            </div>
                            <h4>Mess Fee:</h4>
                            <div class="form-details">
        
                                <div class="input-control">
                                    <label class="asterick"for="amount">Total Amount Paid</label>
                                    <input type="number" id="mess-amount" name="messfee_amount"/>
                                    <div class="error"></div>
                                </div>
        
                                <div class="input-control">
                                    <label class="asterick"for="amount">Mess Security Fee</label>
                                    <input type="number" id="messSecurity-amount" name="messsecurityfee_amount" />
                                    <div class="error"></div>
                                </div>
        
                                <div class="input-control">
                                    <label class="asterick"for="fee_receipt">Fee Receipt</label>
                                    <input  id="mess-fee" type="file" name="messfee_receipt" accept="pdf*" />
                                    <div class="error"></div>
                                </div>
                                <div class="input-control">
                                    <label for="fee_receipt">Fee Receipt</label>
                                    <input  id="mess-fee" type="file" name="messsecurityfee_receipt" accept="pdf/*" />
                                    <div class="error"></div>
                                </div>
                            </div>
                            
        
                            <h4>Maintenance Fee:</h4>
                            <div class="form-details">
        
                                <div class="input-control">
                                    <label class="asterick"for="amount">Total Amount Paid</label>
                                    <input type="number" id="maintenance-amount" name="maintenancefee_amount"/>
                                    <div class="error"></div>
                                </div>
        
                                <div class="input-control">
                                    <label class="asterick"for="fee_receipt">Fee Receipt</label>
                                    <input  id="maintenancefee" type="file" name="maintenancefee_receipt" accept="pdf/*" />
                                    <div class="error"></div>
                                </div>
                            </div>
                        <div class="form-button">
                            <button class="prev-btn" id="f-prev-btn" type="submit">Prev</button>
                            <button class="btn" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>





</div>
    <script src="./js/studentform.js"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
</body>

</html>