<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <% if(collections.length !== 0) { %>
        <table class="data-table">
          <% for (let row = 0; row < rowcol.rows; row++) { %>
          <tr class="row">
            <% for (let col = 0; col < rowcol.cols ; col++) { %>
            <td class="column one">
              <% if (col === 0) { %>
                <%= row + 1 %>
              <% } else { %>
                <%= collections[row].ID %>, <%= collections[row].Name %>, <%= collections[row].Branch %>, <%= collections[row].batch %>, <%= collections[row].Year %> %>
              <% } %>
            </td>
            <td class="column two">
              <% if (col !== 0) { %>
                <div class="btn-container">
                  <button class="view-more-btn" data-id="<%= collections[row].ID %>">View More</button>
                </div>
              <% } %>
            </td>
            <% } %>
          </tr>
          <% } %>
        </table>
      <% } else { %>
      <div class="no-data-available">
        No Data Available
      </div>
      <% } %>

      <script src="./js/index.js"></script>
</body>
</html>